*{
  cursor: url("./img/cursor.png") 1 1, default;
}

body{
  background: url("img/img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #f1a3b6c9;
  color: rgba(71, 16, 43, 0.938);
  border-radius: 6px;
  font-size: 18px;
  margin: 8px 0;
}

.button-style {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.cipher{
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-evenly;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 16px;
}
.disabled{
  background-color: #dfc1cc;
}

.displace {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #d4bbc1;
  color: rgba(20, 1, 10, 0.993);
  font-size: 15px;
}

.enabled{
  background-color: #ffebf2;
}

.footer{
  display: flex;
  justify-content: center;
  background-color: #d4bbc1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 2px;
}

.footer p{
  font-size: 14px;
  margin-right: 20px;
}

.footer a{
  color: rgba(20, 1, 10, 0.993);
  font-size: 15px;
  font-weight: 700;
}

.footer img{
  height: 20px;
  width: 20px;
}

.footer img:hover{
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.introduction {
  text-align: center;
  font-family: 'Cinzel', serif;
  background-color: #d4bbc1d0;
  color: rgba(20, 1, 10, 0.993);
  font-size:  bold 12px;
  padding: 20px;
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 16px;
}

.label-letters {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #b4919a;
  margin-bottom: auto;
  display: flex;
  margin-top: 20px;
}

.link, .footer span{
  margin: 10px;
}

.text{
  font-family: 'Cinzel', serif;
  background-repeat: no-repeat;
  font-size:  bold 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.text:focus {
  border-color: #cccccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.title{
  max-width: 500px;
  margin-top: 20px;
}



