html {
  background: url("img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

fieldset {
  border: none;
}

.text{
  margin-bottom: 15px;
}

.footer{
  text-align: center;
  color: rgba(42, 5, 23, 0.938);
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 500px;
  margin-right: 500px;
}

.introduction {
  text-align: center;
  font-style: italic;
  font-family: Courier, monospace;
  color: rgba(20, 1, 10, 0.993);
  font-size: 15px;
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 16px;
}

.title{
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic bold;
  color: rgba(71, 16, 43, 0.938);
  font-size: 60px;
  margin-top: 0%;
  margin-left: 400px;
  margin-right: 400px;
  padding: 10px;
  border-radius: 16px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 16px;
}

.button {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #f1a3b6c9;
  color: rgba(71, 16, 43, 0.938);
  border-radius: 6px;
  font-size: 18px;
  margin: 8px 0;

}

.label-letters {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #b4919a;
  margin-bottom: auto;
  display: flex;
  margin-top: 20px;
}

.displace {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #b4919ae0;
  font-size: 15px;
}

.button-style {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#number-displace{
  margin-bottom: 50px;
}




